{% extends 'base.html.twig' %}
{% block title %}Контакти{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md">
                <h3 class="contactTitle">Контакти<i class="fa fa-phone-volume"></i>:</h3>
                <p><a href="tel:01234567890" class="tel1">+380(000)000-00-00</a></p>
                <p><a href="tel:01234567890" class="tel2">+380(000)000-00-00</a></p>
                <p><a href="tel:01234567890" class="tel3">+380(000)000-00-00</a></p>
            </div>
        </div>
         <div class="row">
             <div class="col-md mailInf">
                <h3 class="contactTitle">Email<i class="fa fa-envelope-open"></i>:</h3>
                    <p class="copyText contactTitle" >inf@gmail.com</p>
                    <p class="copyText contactTitle">iform@ukr.net</p>
                    <p class="copyText contactTitle">dog@yahoo.com</p>
             </div>
        </div>
        <div class="row">
            <div class="col-md">
                <p class="adress">Ми знаходимось за адресою Київська обл.,м.Бориспіль,вул.Панаса Мирного 17А.</p>
                <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3268.5474599182994!2d30.9251900474766!3d50.36953570922432!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4e629d845c4d7%3A0x4175b65a1bc4dd52!2zMTdBLCDRg9C7LiDQn9Cw0L3QsNGB0LAg0JzQuNGA0L3QvtCz0L4sIDE30JAsINCR0L7RgNC40YHQv9C-0LvRjCwg0JrQuNC10LLRgdC60LDRjyDQvtCx0LvQsNGB0YLRjCwgMDgzMDA!5e0!3m2!1sru!2sua!4v1542382224176" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
{% endblock %}