{% extends 'base.html.twig' %}
{% block title %}Історія SMB{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <img class="logoCompany" src="/images/logo-Smb.png">
            <div class="col-md-10 offset-md-1 ">
                {% for historySMB in dataSMB %}
                        {% if historySMB.imagePath != null %}
                            <div class="img_wrap">
                                <img class="img-responsive" src="{{ historySMB.imagePath }}">
                            </div>
                        {% endif %}
                        {% if historySMB.title != null %}
                            <h2 class="title">{{ historySMB.title }}</h2>
                        {% endif %}
                        {% if historySMB.txt != null %}
                            <p>{{ historySMB.txt }}</p>
                        {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}