<footer>
    <div class="container-fluid">
    <div class="row">
        <div class="col-md-6 ">
            <h3>Контакти<i class="fa fa-phone-volume"></i>:</h3>
            <p><a href="tel:01234567890" class="tel1">+380(000)000-00-00</a></p>
            <p><a href="tel:01234567890" class="tel2">+380(000)000-00-00</a></p>
            <p><a href="tel:01234567890" class="tel3">+380(000)000-00-00</a></p>
        </div>
        <div class="col-md-6 ">
            <h3>Email<i class="fa fa-envelope-open"></i>:</h3>
            <p class="copyText">inf@gmail.com</p>
            <p class="copyText">iform@ukr.net</p>
            <p class="copyText">dog@yahoo.com</p>
        </div>
    </div>
    </div>
</footer>